@import "tailwindcss";


@utility gradient-custom {
  @apply bg-gradient-to-r from-teal-600 via-blue-600 to-pink-600;
}

@utility bg-gifs-custom {
  @apply bg-gradient-to-b from-transparent via-transparent to-black;
}


@utility search-button-bg {
  @apply bg-gradient-to-tr from-pink-600 via-pink-500  to-pink-300;
}
